<p style="margin-left: -100px">A place for Food Trucks!</p>
<!-- Need an actual dashboard -->
<div class="full" id="map" style="text-align: center">

</div>
<div [ngSwitch]="key" style="margin-left: -100px">


  <div class="full grid" id="menu1" *ngSwitchCase="'Rosy'">
    <div class="grid-child" style="display: inline-block">
      <h3>Rosy's menu</h3>
      <table>
        <thead>
        <td>Name   </td>
        <td>Ingredients  </td>
        <td>Price</td>
        </thead>
        <tr><td>Roses</td><td>Rose water</td><td>4$</td></tr>
      </table>
    </div>

    <div class="grid-child">
      <h3>Hours</h3>
      <table>
        <thead>
        <td>Day </td>
        <td>Opens at  </td>
        <td>Closes at</td>
        </thead>
        <tr><td>Monday</td><td>10:00am</td><td>4:00pm</td></tr>
      </table>
    </div>
    <div style="margin-left: 60px">
      <table>
        <thead>
        <td><h3>Rating</h3></td>
        </thead>
        <tr><td>5.0</td></tr>
      </table>
    </div>
    <div>
      <table>
        <thead>
        <td><h3>Review</h3></td>
        </thead>
        <tr><td>Best Mexican food in town!</td></tr>
      </table>
    </div>
  </div>

  <div class="full grid" id="menu2" *ngSwitchCase="'Craft'">
    <div>
      <h3>Craft's Menu</h3>
      <table>
        <thead>
        <td>Name   </td>
        <td>Ingredients  </td>
        <td>Price</td>
        </thead>
        <tr><td>Crafts concoction</td><td>Craftiness</td><td>1$</td></tr>
      </table>
    </div>
    <div class="grid-child">
      <h3>Hours</h3>
      <table>
        <thead>
        <td>Day   </td>
        <td>Opens at   </td>
        <td>Closes at</td>
        </thead>
        <tr><td>Monday</td><td>10:00am</td><td>4:00pm</td></tr>
      </table>
    </div>
    <div style="margin-left: 60px">
      <table>
        <thead>
        <td><h3>Rating</h3></td>
        </thead>
        <tr><td>2.5</td></tr>
      </table>
    </div>
    <div>
      <table>
        <thead>
        <td><h3>Review</h3></td>
        </thead>
        <tr><td>Burnt my pizza :(</td></tr>
      </table>
    </div>
  </div>
  <div class="full grid" id="menu3" *ngSwitchCase="'Valen'">
    <div>
      <h3>Valentinos Menu</h3>
      <table>
        <thead>
        <td>Name   </td>
        <td>Ingredients   </td>
        <td>Price</td>
        </thead>
        <tr><td>Valentinos</td><td>Mystery</td><td>99$</td></tr>
      </table>
    </div>

    <div class="grid-child">
      <h3>Hours</h3>
      <table>
        <thead>
        <td>Day   </td>
        <td>Opens at  </td>
        <td>Closes at</td>
        </thead>
        <tr><td>Monday</td><td>10:00am</td><td>4:00pm</td></tr>
      </table>
    </div>
    <div style="margin-left: 60px">
      <table>
        <thead>
        <td><h3>Rating</h3></td>
        </thead>
        <tr><td>3.0</td></tr>
      </table>
    </div>
    <div>
      <table>
        <thead>
        <td><h3>Review</h3></td>
        </thead>
        <tr><td>I liked it</td></tr>
      </table>
    </div>
  </div>
  <div class="full grid" id="menu4" *ngSwitchCase="'Revo'">
    <div>
      <h3>Viva La Revolution Menu</h3>
      <table>
        <thead>
        <td>Name   </td>
        <td>Ingredients  </td>
        <td>Price</td>
        </thead>
        <tr><td>Major Revolution</td><td>Gunpowder</td><td>Freedom</td></tr>
      </table>
    </div>

    <div class="grid-child">
      <h3>Hours</h3>
      <table>
        <thead>
        <td>Day   </td>
        <td>Opens at  </td>
        <td>Closes at</td>
        </thead>
        <tr><td>Monday</td><td>10:00am</td><td>4:00pm</td></tr>
      </table>
    </div>

    <div style="margin-left: 60px">
    <table>
      <thead>
      <td><h3>Rating</h3></td>
      </thead>
      <tr><td>4.0</td></tr>
    </table>
    </div>
    <div>
      <table>
        <thead>
        <td><h3>Review</h3></td>
        </thead>
        <tr><td>Good service, mediocre food</td></tr>
      </table>
    </div>
  </div>




  <div *ngSwitchDefault>  <br>Click on a pin above to see the menu!</div>



</div>
<br><br><br>

<form (submit)="appl()" style="margin-left: -100px">

  <input type="submit" value="Have a Food Truck? Register here!">
</form>



