<div style="margin-left: -100px">

<h3>Login function</h3>

<form (submit)="login()" >
  <div style="display:grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      margin-left: -40px;
      margin: auto;">
    <label for="username"><h3>Email Address:</h3></label>
  <input id="username" type="text" placeholder="email address" style="height: 30px">
    <label for="pass"><h3>Password:</h3></label>
  <input id="pass" type="password" placeholder="password" style="height: 30px">
  </div><br>
  <input type="submit" value="Login" style="height: 30px; width: 50px">
</form>

</div>
