<div style="margin-left: -100px">

<h3>Login</h3>

<form #form = "ngForm" (submit)="login(form.value)" >
  <div style="display:grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      column-gap: 40px;
      margin-left: -40px;
      margin: auto;">
    <label for="username" style="height: 30px" ><h5>Email Address:</h5></label>
  <input id="username" name="name" type="text" placeholder="email address" style="height: 30px" ngModel>
    <label for="pass"><h5>Password:</h5></label>
  <input id="pass" type="password" name="pass" placeholder="password" style="height: 30px" ngModel>
  </div><br>
  <input type="submit" value="Login" style="height: 30px; width: 50px">
</form>

</div>
